@model CodeBase.Web.ViewModels.Courses.CoursesListViewModel

@{
    ViewData["Title"] = "Library";
}

<h1 class="text-center">My courses:</h1>

@foreach (var course in Model.Courses)
{
    <div class="card text-center">
        <div class="card-header">
            @course.Difficulty
        </div>
        <div class="card-body">
            <h5 class="card-title">@course.Name</h5>
            <p class="card-text">@course.Description</p>

            <a asp-controller="Courses" asp-action="course" asp-route-id="@course.Id" class="btn btn-primary">View Lectures</a>
        </div>
    </div>
}

<hr />
<partial name="_PagingPartial" model="@Model" />

