@model CodeBase.Web.ViewModels.Courses.CoursesListViewModel

@{
    ViewData["Title"] = "Courses";
}

@foreach (var course in Model.Courses)
{
    <div class="card text-center">
        <div class="card-header">
            @course.Difficulty
        </div>
        <div class="card-body">
            <h5 class="card-title">@course.Name</h5>
            <p class="card-text">@course.Description</p>

            @if (this.User.Identity.IsAuthenticated)
            {
                if (!course.IsBought)
                {
                    <a asp-controller="Courses" asp-action="PurchaseCourse" asp-route-id="@course.Id" class="btn btn-primary">Purchase Course</a>
                }
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">To purchase a course, please login first</a>
            }

            <a asp-controller="Courses" asp-action="course" asp-route-id="@course.Id" class="btn btn-primary">View Lectures</a>
        </div>
        <div class="card-footer text-muted">
            @foreach (var tag in course.Tags)
            {
                <a asp-controller="Courses" asp-action="ByTag" asp-route-name="@tag.Name" asp-route-pageNumber="1">@tag.Name</a>
            }
        </div>
    </div>
}

<hr />
<partial name="_PagingPartial" model="@Model" />