@model CodeBase.Web.ViewModels.Courses.CoursesListViewModel

@{
    ViewData["Title"] = "Courses";
}

@foreach (var course in Model.Courses)
{
    <div class="card text-center">
        <div class="card-header">
            @course.Difficulty
        </div>
        <div class="card-body">
            <h5 class="card-title">@course.Name</h5>
            <p class="card-text">@course.Description</p>
            <a href="#" class="btn btn-primary">Purchase Course</a>
            <a asp-controller="Courses" asp-action="course" asp-route-id="@course.Id" class="btn btn-primary">View Lectures</a>
        </div>
        <div class="card-footer text-muted">
            @foreach (var tag in course.Tags)
            {
                <a asp-controller="Courses" asp-action="index" asp-route-id="@tag.Name">@tag.Name</a>
            }
        </div>
    </div>
}

